In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from statsmodels.stats.weightstats import ztest

In [2]:
crops = pd.read_csv("/content/Crop_recommendation.csv")
del crops["label"]
crops.head()

    N   P   K  temperature   humidity        ph    rainfall
0  90  42  43    20.879744  82.002744  6.502985  202.935536
1  85  58  41    21.770462  80.319644  7.038096  226.655537
2  60  55  44    23.004459  82.320763  7.840207  263.964248
3  74  35  40    26.491096  80.158363  6.980401  242.864034
4  78  42  42    20.130175  81.604873  7.628473  262.717340

In [3]:
ztest(crops["N"],crops["P"],value=0)
stats.ttest_1samp(crops["N"], popmean=10)

TtestResult(statistic=51.52183739649533, pvalue=0.0, df=2199)

In [4]:
def f_test(group1, group2):
	f = np.var(group1, ddof=1)/np.var(group2, ddof=1)
	nun = group1.size-1
	dun = group2.size-1
	p_value = 1-stats.f.cdf(f, nun, dun)
	return f, p_value

In [5]:
# perform F-test
x = crops["temperature"][:1100]
y = crops["temperature"][1100:]
f_test(x, y)

(0.6779691473472598, 0.999999999932131)